* {
  margin: 0;
  padding: 0;
}

.navbar {
  background: darkcyan;

  &__menu {
    list-style-type: none;
    display: flex;
    padding: 20px;
  }

  &__brand {
    font-size: 20px;
  }

  &__menuItem {
    padding-right: 10px;
    font-size: 18px;
  }

  &__image {
    background: url('https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_user2-512.png');
    margin-left: auto;
    border-radius: 50%;
    margin-right: 40px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.profile {
	grid-template-columns: 1fr 1fr;
	display: grid;
	padding: 60px;

	&__header {
		padding-top: 10px;
	}

	&__subtitle {
		padding-top: 10px;
	}


	&__image {
		width: 100%;
		height: 100%;
	}

	&__info {
		padding-left: 20px;

		p {
			padding-bottom: 20px;
		}
	}
}



