<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Lay out opdracht 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./css/style.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menuItem">
          <div class="navbar__brand">
            <a> Mozard </a>
          </div>
        </li>
        <li class="navbar__menuItem"><a href="#">home</a></li>
        <li class="navbar__menuItem"><a href="#">about us</a></li>
        <li class="navbar__menuItem"><a href="#">contact</a></li>
        <li class="navbar__menuItem navbar__image"></li>
      </ul>
    </nav>
    <section class="profile">
      <div class="profile__card">
        <img
          class="profile__image"
          src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80"
          alt="user photo"
        />
        <h2 class="profile__header">Ugur Ertas</h2>
        <p class="profile__subtitle">sub heading</p>
      </div>
      <div class="profile__info">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos odio,
          aliquid dolor tempore, optio nam ratione molestias quae libero,
          consequuntur dolorem animi nulla accusamus. Aliquam eum aut quae enim
          saepe.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo,
          voluptate. Quidem repudiandae ab enim illo totam officiis eius minus
          aliquam maxime. Officiis laudantium ut repellat, assumenda aperiam
          voluptatibus aut cum?
        </p>
      </div>
    </section>
  </body>
</html>
