<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>User agent</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
</head>
<body>
	<h1>User agent</h1>
	<ul>
		<% agent.forEach(function(item){ %>
			<li><%= item %> </li>
		<% }) %>
	</ul>
</body>
</html>