* {
  margin: 0;
  padding: 0; }

.navbar {
  background: darkcyan; }
  .navbar__menu {
    list-style-type: none;
    display: flex;
    padding: 20px; }
  .navbar__brand {
    font-size: 20px; }
  .navbar__menuItem {
    padding-right: 10px;
    font-size: 18px; }
  .navbar__image {
    background: url("https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_user2-512.png");
    margin-left: auto;
    border-radius: 50%;
    margin-right: 40px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover; }

.profile {
  grid-template-columns: 1fr 1fr;
  display: grid;
  padding: 60px; }
  .profile__header {
    padding-top: 10px; }
  .profile__subtitle {
    padding-top: 10px; }
  .profile__image {
    width: 100%;
    height: 100%; }
  .profile__info {
    padding-left: 20px; }
    .profile__info p {
      padding-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
